body{
    background:linear-gradient(rgb(129, 50, 50),black);
    background-repeat: no-repeat;
    height: 100vh;
}

.box{
    border: 2px solid rgb(144, 106, 35);
    width: 250px;
    height: 300px;
    border-radius: 10px;
    position: relative;
    left: 600px;
    top: 200px;
}

input{
    width: 120px;
    height: 30px;
    border-radius: 8px;
    background-color: darkblue;
    position: relative;
    left: 60px;
    color: white;
}

h1{
    color: white;
    position: relative;
    left: 52px;
}

.i3{
    position: relative;
    top: 10px;
}

.i2{
    position: relative;
    top: 5px;
}

button{
    background-color: green;
    border: 0;
    border-radius: 6px;
    position: relative;
    top: 60px;
    right: 55px;
    color: white;
    width: 90px;
    height: 30px;
}