.one{
    border: 2px solid orangered;
    width: 250px;
    border-radius: 10px;
}

img{
    border-bottom: 3px solid orangered;
    border-radius: 6px;
    position: relative;
    left: 35px;
}

.lab{
    color: rgb(164, 3, 3);
    position: relative;
    left: 73px;
    top: -10px;
}

.sot{
    background-color: green;
    color: white;
    border: 0;
    width: 100px;
    height: 30px;
    border-radius: 8px;
    transform: translate(70px,-10px);
}

.pul{
    color: rgb(124, 124, 42);
    transform: translate(50px,-10px);
}